@font-face {font-family: "ucd";
  src: url('fonts/iconfont.woff?t=1572939339894') format('woff'),
  url('fonts/iconfont.ttf?t=1572939339894') format('truetype');
}

[class^="rjucd-"],
[class*=" rjucd-"]  {
  font-family: "ucd" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rjucd-zusai:before {
  content: "\e703";
}

.rjucd-bugongdian:before {
  content: "\e704";
}

.rjucd-gongdian:before {
  content: "\e705";
}

.rjucd-shanglian:before {
  content: "\e706";
}

.rjucd-guangkou:before {
  content: "\e6ae";
}

.rjucd-upport:before {
  content: "\e6c0";
}

.rjucd-downport:before {
  content: "\e811";
}

.rjucd-r:before {
  content: "\e658";
}

.rjucd-ruijie:before {
  content: "\e660";
}

.rjucd-eweb:before {
  content: "\e66d";
}

.rjucd-project:before {
  content: "\e66c";
}

.rjucd-ap:before {
  content: "\e674";
}

.rjucd-user:before {
  content: "\e675";
}

.rjucd-switch:before {
  content: "\e676";
}

.rjucd-gateway:before {
  content: "\e677";
}

.rjucd-wifi:before {
  content: "\e678";
}

.rjucd-systemset:before {
  content: "\e679";
}

.rjucd-cloud:before {
  content: "\e673";
}

.rjucd-diagnosis:before {
  content: "\e67a";
}

.rjucd-collectorstation:before {
  content: "\e67b";
}

.rjucd-doublewan:before {
  content: "\e67c";
}

.rjucd-factoranalysis:before {
  content: "\e67d";
}

.rjucd-loop:before {
  content: "\e67e";
}

.rjucd-loopprotect:before {
  content: "\e681";
}

.rjucd-network:before {
  content: "\e683";
}

.rjucd-monitor:before {
  content: "\e684";
}

.rjucd-PortMapping:before {
  content: "\e686";
}

.rjucd-toolbox:before {
  content: "\e689";
}

.rjucd-vlan:before {
  content: "\e68e";
}

.rjucd-warning:before {
  content: "\e692";
}

.rjucd-safe:before {
  content: "\e67f";
}

.rjucd-vpn:before {
  content: "\e694";
}

.rjucd-customerservice:before {
  content: "\e695";
}

.rjucd-disconnect:before {
  content: "\e69a";
}

.rjucd-edit:before {
  content: "\e69f";
}

.rjucd-help:before {
  content: "\e6a8";
}

.rjucd-key:before {
  content: "\e6a9";
}

.rjucd-list:before {
  content: "\e6ac";
}

.rjucd-menu-left:before {
  content: "\e6ad";
}

.rjucd-home:before {
  content: "\e6b2";
}

.rjucd-menu-right:before {
  content: "\e6b3";
}

.rjucd-monitor1:before {
  content: "\e6b6";
}

.rjucd-notcertified:before {
  content: "\e6bd";
}

.rjucd-reload:before {
  content: "\e6bf";
}

.rjucd-refresh:before {
  content: "\e6c2";
}

.rjucd-search:before {
  content: "\e6c3";
}

.rjucd-rocket:before {
  content: "\e6c4";
}

.rjucd-resetting:before {
  content: "\e6c7";
}

.rjucd-sys:before {
  content: "\e6cc";
}

.rjucd-upload:before {
  content: "\e6d0";
}

.rjucd-unvisible:before {
  content: "\e6d4";
}

.rjucd-visible:before {
  content: "\e6d5";
}

.rjucd-basicsettings:before {
  content: "\e6d3";
}

